@import '../../style/variables.scss';

.searchPanel {
  position: relative;
  margin: 25px auto 30px;
  min-width: 500px;
  max-width: 1100px;
  min-height: 50px;
  background-color: var(--bg-color);
  transition: background-color 300ms linear;
  border-radius: 15px;
  color: var(--text-color);
  font-size: 18px;
  box-shadow: 0 6px 18px 2px rgb(0 0 0 / 40%);


  &__info {
    cursor: pointer;
    position: absolute;
    padding: 0 7px 3px;
    left: 25px;
    top: -15px;
    -webkit-transform: skew(-20deg);
    background: var(--bg-color-header);
    transition: all 0.3s ease-out;
    border-radius: 7px;
    box-shadow: 0 2px 10px 2px rgb(0 0 0 / 40%);
  }

  &__text {
    -webkit-transform: skew(20deg);
    font-size: 24px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 17px 10px 10px 10px;

    &__item {
      display: flex;
      margin: 5px 15px;
      display: inline-block;
      width: 150px;
      cursor: pointer;
      padding: 0 7px 3px;


      &:hover {
        transition: all 0.1s ease-out;
        background: var(--bg-color-header);
        border-radius: 7px;
        box-shadow: 0 5px 6px 1px rgb(0 0 0 / 40%);
        z-index: 1;
      }

    }
  }

  animation-name: searchCityOpen;
  animation-duration: 0.5s;

  @keyframes searchCityOpen {
    from {
      position: relative;
      margin: 0;
      left: -700px;
      opacity: 0;
    }

    to {
      position: relative;
      margin: 0 auto 30px;
      left: 0px;
      opacity: 1;
    }
  }

}