@import'../../style/variables.scss';

.map__content {
  margin: 50px auto;
  position: relative;
  width: 726px;
  height: 490px;
  background-image: var(--map-img);
  transition: background-image 300ms linear;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--text-color);

  animation-name: mymove;
  animation-duration: 0.5s;

  @keyframes mymove {
    from {
      width: 0%;
      left: 700px;
      bottom: 200px;
      opacity: .1;
    }

    to {
      width: 50%;
      left: 0px;
      bottom: 0;
      opacity: 1;
      width: 726px;
      height: 490px;
      margin: 50px auto;
    }
  }

  .cityLink {
    font-size: 18px;
    font-weight: 500;

    &:hover {
      transition: all 0.2s ease-out;
      padding: 0 7px 3px;
      -webkit-transform: skew(-20deg);
      background: var(--bg-color-header);
      border-radius: 7px;
      box-shadow: 0 5px 6px 1px rgb(0 0 0 / 40%);
      font-size: 23px;
      z-index: 1;

      .cityLink__text {
        -webkit-transform: skew(20deg);
      }
    }
  }

}