@import'../../style/variables.scss';

.map__content {
  margin: 50px auto;
  position: relative;
  width: 726px;
  height: 490px;
  background-image: url('../../resources/img/map.svg');
  background-repeat: no-repeat;
  background-size: contain;

  animation-name: mymove;
  animation-duration: 0.5s;

  @keyframes mymove {
    from {
      width: 0%;
      left: 700px;
      bottom: 200px;
      opacity: .1;
    }

    to {
      width: 50%;
      left: 0px;
      bottom: 0;
      opacity: 1;
      width: 726px;
      height: 490px;
      margin: 50px auto;
    }
  }

  .cityLink {
    font-size: 16px;
    font-weight: 500;

    &:hover {
      font-weight: 700;
      font-size: 18px;
      text-decoration: underline;
      color: rgb(15, 51, 209);
    }
  }
}